/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/client/.nuxt
/client/.serverless
/client/node_modules
/client/npm-debug.log
/client/package-lock.json
/client/yarn-error.log
mix-manifest.json
.vapor/
.DS_Store
